name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Pack2
      run: dotnet pack
    - name: Print
      run: ls -lahR
    
    
    - uses: actions/checkout@v2

    - uses: actions/upload-artifact@v2
      with:
        name: my-artifact
        path: ./AspNetCoreWithPipeline/bin/Debug/AspNetCoreWithPipeline.1.0.0.nupkg
 
   
